flow.json
[
    {
        "id": "425da8962c33b47d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "08be2897115a03e6",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4e4e2f88281dfd53",
        "type": "ui_tab",
        "name": "AI Photo Booth",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3f62eef5c07cf241",
        "type": "ui_group",
        "name": "WebCam",
        "tab": "4e4e2f88281dfd53",
        "order": 1,
        "disp": false,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "807ac59e9cc2252c",
        "type": "ui_group",
        "name": "Objects",
        "tab": "4e4e2f88281dfd53",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e5e2493236ae8715",
        "type": "ui_webcam",
        "z": "425da8962c33b47d",
        "name": "",
        "group": "3f62eef5c07cf241",
        "order": 1,
        "width": "10",
        "height": "7",
        "countdown": false,
        "autoStart": false,
        "hideCaptureButton": true,
        "showImage": 0,
        "mirror": true,
        "format": "jpeg",
        "x": 480,
        "y": 100,
        "wires": [
            [
                "aafbb07a200c4cf8",
                "d52e484ac547d551",
                "9234b9c398cc09d7"
            ]
        ]
    },
    {
        "id": "aafbb07a200c4cf8",
        "type": "debug",
        "z": "425da8962c33b47d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 60,
        "wires": []
    },
    {
        "id": "d52e484ac547d551",
        "type": "change",
        "z": "425da8962c33b47d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "'/tmp/webcam_'& $moment().format('YYYY-MM-DD-hhmmss') & '.jpeg'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 100,
        "wires": [
            [
                "ea671085d650ac65"
            ]
        ]
    },
    {
        "id": "ea671085d650ac65",
        "type": "file",
        "z": "425da8962c33b47d",
        "name": "",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 870,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b510f2e3f149dd18",
        "type": "ui_button",
        "z": "425da8962c33b47d",
        "name": "",
        "group": "3f62eef5c07cf241",
        "order": 2,
        "width": "9",
        "height": "1",
        "passthru": false,
        "label": "Capture",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-camera fa-2x",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 40,
        "wires": [
            [
                "a6026811837d1681"
            ]
        ]
    },
    {
        "id": "a6026811837d1681",
        "type": "change",
        "z": "425da8962c33b47d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "capture",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 40,
        "wires": [
            [
                "e5e2493236ae8715"
            ]
        ]
    },
    {
        "id": "9da60a178b3aae19",
        "type": "ui_button",
        "z": "425da8962c33b47d",
        "name": "Clear",
        "group": "3f62eef5c07cf241",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-trash fa-2x",
        "payload": "\"\"",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 160,
        "wires": [
            [
                "e5e2493236ae8715",
                "9835ba53e16cd6bc"
            ]
        ]
    },
    {
        "id": "309830d15b79c82f",
        "type": "tensorflowCoco",
        "z": "425da8962c33b47d",
        "name": "",
        "modelUrl": "http://localhost:1880/coco/model.json",
        "scoreThreshold": 0.5,
        "passthru": "false",
        "lineColour": "magenta",
        "x": 370,
        "y": 260,
        "wires": [
            [
                "fe3096fdddf3ce51",
                "c659fca1284af210"
            ]
        ]
    },
    {
        "id": "fe3096fdddf3ce51",
        "type": "debug",
        "z": "425da8962c33b47d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 240,
        "wires": []
    },
    {
        "id": "9c7b55880474d508",
        "type": "ui_table",
        "z": "425da8962c33b47d",
        "group": "807ac59e9cc2252c",
        "name": "",
        "order": 0,
        "width": "6",
        "height": "8",
        "columns": [
            {
                "field": "class",
                "title": "Object Type",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "score",
                "title": "Score",
                "width": "",
                "align": "left",
                "formatter": "star",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 790,
        "y": 420,
        "wires": [
            [
                "d8ea9209eb077c25",
                "b3c8324858f9a307"
            ]
        ]
    },
    {
        "id": "c659fca1284af210",
        "type": "change",
        "z": "425da8962c33b47d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$append([], payload.{\"class\":class,\"score\":score*5,\"bbox\":bbox})",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 320,
        "wires": [
            [
                "9c7b55880474d508"
            ]
        ]
    },
    {
        "id": "9835ba53e16cd6bc",
        "type": "change",
        "z": "425da8962c33b47d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 340,
        "wires": [
            [
                "9c7b55880474d508"
            ]
        ]
    },
    {
        "id": "25fe83dd7d3e258d",
        "type": "link in",
        "z": "425da8962c33b47d",
        "name": "",
        "links": [
            "79ee669b2847b24e",
            "98266e21e6f1fcb0"
        ],
        "x": 335,
        "y": 140,
        "wires": [
            [
                "e5e2493236ae8715"
            ]
        ]
    },
    {
        "id": "d8ea9209eb077c25",
        "type": "debug",
        "z": "425da8962c33b47d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 360,
        "wires": []
    },
    {
        "id": "ba761ad0e9b53392",
        "type": "annotate-image",
        "z": "425da8962c33b47d",
        "name": "",
        "fill": "",
        "stroke": "#ffC000",
        "lineWidth": 5,
        "fontSize": 24,
        "fontColor": "#ffC000",
        "x": 1100,
        "y": 500,
        "wires": [
            [
                "98266e21e6f1fcb0"
            ]
        ]
    },
    {
        "id": "98266e21e6f1fcb0",
        "type": "link out",
        "z": "425da8962c33b47d",
        "name": "",
        "links": [
            "25fe83dd7d3e258d"
        ],
        "x": 1235,
        "y": 500,
        "wires": []
    },
    {
        "id": "9234b9c398cc09d7",
        "type": "change",
        "z": "425da8962c33b47d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "image",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 100,
        "y": 260,
        "wires": [
            [
                "309830d15b79c82f"
            ]
        ]
    },
    {
        "id": "b3c8324858f9a307",
        "type": "change",
        "z": "425da8962c33b47d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "annotations",
                "pt": "msg",
                "to": "$append([],payload.{\"label\": class, \"bbox\": bbox})",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "image",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 500,
        "wires": [
            [
                "ba761ad0e9b53392"
            ]
        ]
    }
]